!!! 5
%html
	%head
		%title Hello Ladies...
		%link{:type=>"text/css", :rel=>"stylesheet", :href=>"/css/default.css"}
		%script{:type=>'text/javascript',:src=>'/assets/jquery.min.js'}
		%script{:type=>'text/javascript',:src=>'/assets/site.js'}
	%body
		#content
			%img{:src=>"/images/isiah.jpg",:title => "The man your man could smell like",:alt => "Photo of the man your phone could sound like",:class=>'isiah'}
			%h1 Hello Ladies
			%h2
				This is the man your
				%a{:href=>'http://www.youtube.com/user/oldspice#p/u/7/Kx-78v6WLN8',:taget=>'youtube'}phone could sound like
			%blockquote
				%form{:method=>'get',:action=>'/message'}
					#intros
						-default = nil
						-locals['intros'].each_pair do |sex,note|
							-note.each_pair do |clip,text|
								-default ||= clip
								%a{:href=>"##{clip}",:class=>sex,:title=>"Change this phrase"}=text
						%input{:type=>'hidden',:name=>'intro',:value=>default}
					%input{:type=>'text',:name=>'number',:id=>'number',:value => "653-77423"}
					#mids
						-default = nil
						-locals['mids'].each_pair do |sex,note|
							-note.each_pair do |clip,text|
								-default ||= clip
								%a{:href=>"##{clip}",:class=>sex,:title=>"Change this phrase"}=text
						%input{:type=>'hidden',:name=>'mid',:value=>default}
					%ul
						-locals['reasons'].each_pair do |sex,note|
							-note.each_pair do |clip,text|
								%li{:class=>sex}
									%input{:type=>'radio',:name=>'reason',:value=>clip}=text
					#exits
						-default = nil
						-locals['exits'].each_pair do |sex,note|
							-note.each_pair do |clip,text|
								-default ||= clip
								%a{:href=>"##{clip}",:class=>sex,:title=>"Change this phrase"}=text
						%input{:type=>'hidden',:name=>'exit',:value=>default}
					%input{:type=>'submit',:value=>'OldSpice up my answer phone',:class=>'submit'}
			:markdown
				And no ladies, I already have the phone numbers of every single one of you. I don't need to keep the ones you type in here.
				
				<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/Kx-78v6WLN8&amp;hl=en_GB&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Kx-78v6WLN8&amp;hl=en_GB&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
				
		#footer
			:markdown
				Made [by JP](http://byJP.me) without endorsement by or affiliation with [OldSpice](http://oldspice.com) or [Isiah Mustafa](http://twitter.com/isaiahmustafa).<br/><small>Please <a href="oldspice@toys.byJP.me">get in touch</a> if there are any YouTube videos with good audio clips for this. Code <a href="github.com/jphastings/TheManYourPhoneCouldSoundLike">on github</a>.</small>
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-17463188-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		